<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-stack-item-heading" jhiTranslate="visionAlertSystemApp.stackItem.home.createOrEditLabel">Create or edit a Stack Item</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visionAlertSystemApp.stackItem.sequenceNo" for="field_sequenceNo">Sequence No</label>
                    <input type="number" class="form-control" name="sequenceNo" id="field_sequenceNo"
                           formControlName="sequenceNo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visionAlertSystemApp.stackItem.fileName" for="field_fileName">File Name</label>
                    <input type="text" class="form-control" name="fileName" id="field_fileName"
                           formControlName="fileName"/>
                    <div *ngIf="editForm.get('fileName')!.invalid && (editForm.get('fileName')!.dirty || editForm.get('fileName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fileName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visionAlertSystemApp.stackItem.className" for="field_className">Class Name</label>
                    <input type="text" class="form-control" name="className" id="field_className"
                           formControlName="className"/>
                    <div *ngIf="editForm.get('className')!.invalid && (editForm.get('className')!.dirty || editForm.get('className')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('className')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visionAlertSystemApp.stackItem.methodName" for="field_methodName">Method Name</label>
                    <input type="text" class="form-control" name="methodName" id="field_methodName"
                           formControlName="methodName"/>
                    <div *ngIf="editForm.get('methodName')!.invalid && (editForm.get('methodName')!.dirty || editForm.get('methodName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('methodName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visionAlertSystemApp.stackItem.lineNumber" for="field_lineNumber">Line Number</label>
                    <input type="number" class="form-control" name="lineNumber" id="field_lineNumber"
                           formControlName="lineNumber"/>
                    <div *ngIf="editForm.get('lineNumber')!.invalid && (editForm.get('lineNumber')!.dirty || editForm.get('lineNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lineNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lineNumber')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visionAlertSystemApp.stackItem.alertEvent" for="field_alertEvent">Alert Event</label>
                    <select class="form-control" id="field_alertEvent" name="alertEvent" formControlName="alertEventId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="alertEventOption.id" *ngFor="let alertEventOption of alertevents; trackBy: trackById">{{ alertEventOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
